<?xml version="1.0" encoding="UTF-8" standalone="no"?><modules>
    <module active="true">
    	<id>0</id>
    	<class>CalculatorModule</class></module>
    <module active="true">
    	<id>1</id>
    	<class>FileSearchModule</class>
    	<exceptions>
        	<exception>0</exception>
        	<exception>3</exception>
        	<exception>4</exception>
        	<exception>5</exception>
        </exceptions>
    </module>
    <module active="true">
    	<id>2</id>
        <class>GoogleSearchModule</class>
        <exceptions>
        	<exception>0</exception>
        	<exception>3</exception>
        	<exception>4</exception>
        	<exception>5</exception>
        </exceptions>
    </module>
    <module active="true">
    	<id>3</id>
        <class>WeatherModule</class>
    <properties><city pref="true">Bremen</city></properties></module>
    <module active="true">
    	<id>4</id>
        <class>TranslateModule</class>
        <properties><defaultSrcLanguage>de</defaultSrcLanguage></properties>
    </module>
    <module active="true">
    	<id>5</id>
    	<class>WebSearchModule</class>
    </module>
</modules>