<?xml version="1.0" encoding="UTF-8"?>
<modules>
    <module>
    	<id>0</id>
    	<class>CalculatorModule</class></module>
    <module>
    	<id>1</id>
    	<class>FileSearchModule</class>
    	<exceptions>
        	<exception>3</exception>
        	<exception>4</exception>
        	<exception>6</exception>
        </exceptions>
    </module>
    <module>
    	<id>2</id>
        <class>GoogleSearchModule</class>
        <exceptions>
        	<exception>3</exception>
        	<exception>4</exception>
        	<exception>6</exception>
        </exceptions>
    </module>
    <module>
    	<id>3</id>
        <class>WeatherModule</class>
    </module>
    <module>
    	<id>4</id>
        <class>GoogleTranslateModule</class>
    </module>
    <module>
    	<id>5</id>
        <class>TranslateModule</class>
    </module>
    <module>
    	<id>6</id>
        <class>GoogleMapsModule</class>
    </module>
    <module>
    	<class>WikiSearchModule</class></module>
</modules>
