<?xml version="1.0" encoding="UTF-8"?>
<modules>
	<module>
    	<id>0</id>
    	<class>FileSearchModule</class>
    	<exceptions>
        	<exception>2</exception>
        	<exception>3</exception>
        </exceptions>
    </module>
    <module>
    	<id>1</id>
        <class>GoogleSearchModule</class>
        <exceptions>
        	<exception>2</exception>
        	<exception>3</exception>
        </exceptions>
    </module>
    <module>
    	<id>2</id>
        <class>WeatherModule</class>
    </module>
    <module>
    	<id>3</id>
        <class>GoogleTranslateModule</class>
    </module>
    <module>
    	<id>4</id>
        <class>TranslateModule</class>
    </module>
</modules>